@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauve-dark.css';
@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/slate-dark.css';
@import '@radix-ui/colors/jade.css';
@import '@radix-ui/colors/jade-dark.css';
@import '@radix-ui/colors/iris.css';
@import '@radix-ui/colors/iris-dark.css';
@import '@radix-ui/colors/lime.css';
@import '@radix-ui/colors/lime-dark.css';
@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/amber-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scale up hit targets on high resolution mobile devices. */
@media (min-resolution: 200dpi) {
  html {
    font-size: 18px;
  }

  .text-sm {
    /* ensure minimum font size of 16px */
    font-size: 0.9rem;
  }
}

@layer base {
    :root {
        .react-aria-DropIndicator[data-drop-target] {
            outline: 2px solid var(--iris-9);
            transform: translateZ(0);
        }
    }
}
